extends layout.movie

block content

  h1 #{title}
  section        
    div
      form.navbar-form(role="search")
        div.form-group
          a(href="/")
            button(type="button",class="btn btn-default")
              span(class="glyphicon glyphicon-arrow-left")  Home
          a(href="/movies/new")
            button(type="button",class="btn btn-default")            
              span(class="glyphicon glyphicon-plus")  Movie
        //- div.form-group.innersearch
        //-   input(type="text",class="form-control",placeholder="Search Movies")
        //-   i.glyphicon.glyphicon-search
        form(method="GET", action="/movies/")
          input(class="form-control",name="search",type="text",placeholder="Search User")
          button(type="submit",class="btn btn-default") 
            i.glyphicon.glyphicon-search   Search
      div#results

    table.table.table-striped.table-bordered.table-hover.table-condensed.table-responsive
      thead
        tr
          th.align-center Edit
          th Name
          th.align-center Category
          th.align-center Price
      tbody
        each movie in movies
          tr
            td.align-center: a(href="/movies/#{movie.id_movie}/edit") 
                  i.glyphicon.glyphicon-edit
            td: a(href="/movies/#{movie.id_movie}/") #{movie.name}
            td.align-center #{movie.category}
            td.align-center #{movie.price}




  //script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  //script(src="../javascripts/main.js")
