doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../../stylesheets/style.css')
  body
    h1 #{title}
    hr 
    section        
      div
        form.navbar-form
          div.form-group
            a(href="/stats")
              button(type="button",class="btn btn-default")            
                span(class="glyphicon glyphicon-arrow-left")  Statistics

    table.table.table-striped.table-bordered.table-hover.table-condensed.table-responsive 
      thead
        tr 
          th: a(href="/stats/income/y") YEAR
          th: a(href="/stats/income/m") MONTH
          th: a(href="/stats/income/d") DAY
          th TOTAL
      tbody
        each income, i in incomes
          tr
            td: a(href="/stats/income/y") #{income.YEAR}
            td: a(href="/stats/income/m") #{income.MONTH}
            td: a(href="/stats/income/d") #{income.DAY}
            td #{income.TOTAL}
        
      
