doctype html
html
  head
    title= title
    link(rel='stylesheet', href='../stylesheets/style.css')
  body
    h1 #{title}
    hr 
    section        
      div
        form.navbar-form
          div.form-group
            a(href="/stats")
              button(type="button",class="btn btn-default")            
                span(class="glyphicon glyphicon-arrow-left")  Statistics

    table.table.table-striped.table-bordered.table-hover.table-condensed.table-responsive 
      thead
        tr 
          th YEAR
          th MONTH
          th DAY
          th TOTAL
      tbody
        each income, i in incomes
          tr(class=(i % 2 == 0) ? 'odd' : 'even')
            td: a(href="/stats/income/y#{income.YEAR}") #{income.YEAR}
            td: a(href="/stats/income/m#{income.MONTH}") #{income.MONTH}
            td: a(href="/stats/income/d#{income.DAY}") #{income.DAY}
            td #{income.TOTAL}
        
      
